<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form</title>
</head>
<body>
    <h1>Edit User</h1>
    <form method="POST" action="/users/<%= data.id %>?_method=PATCH">
        <!-- Username Field -->
        <label for="username">Username:</label>
        <textarea id="username" name="username" required><%= data.username %></textarea><br><br>

        <!-- Password Field -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <!-- Submit Button -->
        <button type="submit">Submit</button>
    </form>
</body>
</html>
