<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method ="post" action="/chats">
        From User: <input type="text" placeholder="from user" name="from"><br><br><br>
        Msg: <textarea placeholder="write msg here" name="msg">

        </textarea><br><br><br>
        To user: <input type="text" placeholder="to user" name="to">
        <button>Submit</button>
    </form>
</body>
</html>